<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/team</property>
        <property name="hibernate.connection.username">christelle</property>
        <property name="hibernate.connection.password">password123</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.autocommit">false</property>
        <!-- Print executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Update database on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="org.Models.Player"/>
        <mapping class="org.Models.Coach"/>
        <mapping class="org.Models.Ball" />
        <mapping class="org.Models.HeadCoach" />
        <mapping class="org.Models.SupportCoach" />

    </session-factory>
</hibernate-configuration>